/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* hanken font */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* Allura Static font */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


/* common css srt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --montserratFont: "Montserrat", sans-serif;
    --robotoFont: "Roboto", serif;
    --hanken: "Hanken Grotesk", serif;
    --AlluraStatic: "Allura", serif;
}

body {
    font-family: var(--robotoFont);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;

    li {
        a {
            text-decoration: none;
        }
    }
}

.active {
    color: #000;
    border-bottom: 2px solid #C47E31;
}

.banner-welcome {
    font-family: var(--hanken);
    color: #C47E31;
    font-weight: 600;
    position: relative;
}

.banner-welcome::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -7px;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background-color: #C47E31;
}

.subscribe-button {
    .youtube {
        background-color: red;
        border: 2px solid red;
        font-size: 13px;
    }

    .instagram {
        background: linear-gradient(to top right, #515BD4, #8134AF, #DD2A7B);
        font-size: 13px;
    }
}

/* common css end */

/* header srt */
header {

    .navbar-main {
        z-index: 900;
        position: fixed !important;
        top: 0px !important;
        left: 0px !important;
        background-color: white;
        width: 100% !important;


        nav {
            /* z-index: 900;
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important; */

            .logo {
                font-family: var(--hanken);
                font-weight: 500;
                color: #1E3A8A;
                white-space: nowrap;

                h5 {
                    position: relative;
                }

                .chess-piece-img {
                    width: 130px;
                }
            }

            h5::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -3px;
                background-color: #C47E31;
                height: 2px;
                width: 0%;
                transition: all 0.4s ease-in-out;
            }

            h5:hover::before {
                width: 100%;
            }

            .nav-links {
                a:not(.active) {
                    color: #1E3A8A;
                    font-weight: 400;
                    font-family: var(--robotoFont);
                    padding: 12px 20px;
                }

                a:hover {
                    /* color: #E74C3C; */
                }
            }
        }
    }

    .banner {
        margin-top: 20px;

        .banner-content {
            font-weight: normal;
            font-family: var(--robotoFont);
            letter-spacing: 1px;

            .banner-heading {
                font-family: var(--hanken);
                color: #000;
                font-weight: 500;
                letter-spacing: -1.5px;
                line-height: 1.2;
                word-break: break-word;
                margin-top: 20px;

                .gymnastics {
                    color: #C47E31;
                }
            }

        }

        .banner-right {
            /* overflow: hidden; */
            position: relative;

            .banner-right-img {
                height: 300px;
                height: 80vh;
                margin: 60px 0px;
                background: url('../images/banner-img-bg.jpg');
                background-size: contain;
                background-position: right;
                background-repeat: no-repeat;
                /* z-index: -1; */
            }

            .queen-piece-img {
                position: absolute;
                width: 200px;
                top: 50%;
                transform: translateY(-50%);
                left: 20%;
                display: inline-block;
            }
        }
    }
}

/* header end */

/* body srt */
body {

    /* about srt */
    .about {
        font-family: var(--robotoFont);

        .title {
            font-family: var(--hanken);
            font-weight: 700;
        }

        .about-right-img {
            width: 100%;
            height: 280px;
            background: url('../images/creator.jpg');
            background-size: cover;
            border-radius: 10px;
        }

        .creator-title {
            font-family: var(--AlluraStatic);
            font-weight: 600;
            font-size: 25px;
        }

        .subscribe-button {
            .youtube {
                font-size: 12px;
            }

            .instagram {
                font-size: 12px;
            }
        }

        .main {
            width: fit-content;
        }
    }

    /* about end */

    /* section3 srt - fixed img srt */
    .section3 {
        margin-top: 20px;
        height: 350px;

        .bg-img {
            height: 100%;
            background: url('../images/section3.jpg');
            background-size: cover;
            background-position: center top;
            background-attachment: fixed;
            z-index: 1;
        }

        .element-shape {
            z-index: -1;
            margin-top: -115px;
            transform: rotate(180deg);
            width: 100%;
            height: 100px;
        }

    }

    /* section3 end - fixed img srt */

    /* features srt */
    .follow {
        .features {
            /* margin-top: 40px; */
            margin-bottom: 20px;
        }

        .items {
            text-align: center;
            padding: 10px 0px;
            height: 180px;
            border-radius: 5px;
            border: 2px solid #C47E31;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;

            h4 {
                /* margin: 0px 0px 20px 0px; */
            }
        }

        .items-1 {
            background-color: #C47E31;
            color: white;
            border: 2px solid #C47E31;
        }
    }

    /* features end */

    /* youtube content srt */
    /* youtube content srt */
    .youtube-content {
        .content-main {
            height: 225px;
            border: 2px solid #fff;
            margin-bottom: 20px;
            border-radius: 8px;
            position: relative;

            a {
                display: inline-block;
                height: 220px;
                width: 100%;

                .bg {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-color: #837036;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                    transform: scale(1.1);
                }
            }

            .content1 {
                background: url('../images/content1.jpg');
                background-size: contain;
                background-position: center;
            }

            .content2 {
                background: url('../images/content2.jpg');
                background-size: contain;
                background-position: center;
            }

            .content3 {
                background: url('../images/content3.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .content4 {
                background: url('../images/content4.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        /* Hover effect */
        .content-main:hover .bg {
            visibility: visible;
            opacity: 0.7;
            transform: scale(1);
        }
    }

    /* youtube content end */


    /* youtube content end */
}

/* body end */


/* footer srt */
footer {
    background-color: black;
    width: 100%;
    padding: 20px;
    color: white;

    .title {
        color: #C47E31;
    }
}

/* footer end */